<strong><%= recording.id %></strong>

<div class="well">
  <b>Temperature: </b> <%= recording.temp%> degrees. <b>Status: </b><%= recording.status %>
  <span class="pull-right"><%= time_ago_in_words(recording.created_at) %> Ago</span>
</div>